Coding along with the Complete Python Developer Zero-to-Mastery lectures

In [10]:
#Working with Numbers - int and float
print(type(2 + 4))
print(type(2 - 4))
print(type(2 * 4))
print(type(2 / 4)) #0.5

print(2 **3)
print(5 // 4)
print(6 %4)

print(bin(10))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
8
1
2
0b1010

In [8]:
#Math
print(round(1.2))
print(abs(-10000))

1
10000

In [12]:
#Variables - snake case, use letters, numbers, and underscores for naming
user = 'Aidan'
print(user)

Aidan

In [14]:
#Augmented assignment operator
i = 0
i += 1
print(i)

1

In [21]:
#String - text
double_quote = "hello world"
single_quote = 'what up world'
long_string = '''
hello world
deez nutz
>:)
'''
print(double_quote)
print(single_quote)
print(long_string)

print(double_quote + ' ' + single_quote)

hello world
what up world

hello world
deez nutz
>:)

hello world what up world

In [25]:
#Type conversion - change data types - ie int -> str
print(type(str(100)))
print('my grade on the test is: ' + str(100))

<class 'str'>
my grade on the test is: 100

In [4]:
#Escape sequence - \ - everything after \ tells python is a string
weather = 'what\'s up world'
add_tab = '\t this is now tabbed over'
new_line = 'this is on one line \nthis is on a new line'
print(weather)
print(add_tab)
print(new_line)

what's up world
	 this is now tabbed over
this is on one line
this is on a new line

In [6]:
#Formatted Strings (f strings) - or use .format for python2
name = 'Aidan'
age = 24
print(f'hi {name}. You are {age} years old')

hi Aidan. You are 24 years old

In [11]:
#String Indexes - str[start:stop:step]
greeting = 'hi Aidan'
print(greeting[3:len(greeting)])
print(greeting[-1])
print(greeting[::-1]) #reverse string

Aidan
n
nadiA ih

In [5]:
#Built-in functions/methods - strings
print(len('djal;fjda;fkkaf'))
quote = 'to be or not to be'
print(quote)
print(quote.upper())
print(quote.capitalize())
print(quote.find('be'))
print(quote.replace('be','me'))

15
to be or not to be
TO BE OR NOT TO BE
To be or not to be
3
to me or not to me

In [8]:
#Boolean's - True 1, False 0
name = 'Aidan'
is_cool = False
print(is_cool)
is_cool = True
print(is_cool)
print(bool(1))

False
True
True